/* Глобальні стилі */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --akcent-color: #2196f3;
  --logo-color: #000000;
  --main-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --background-hero-footer-color: #2f303a;
}

body {
  background-color: var(--main-bg-color);
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

.logo {
  color: #000000;
}

.logo-akcent {
  color: var(--akcent-color);
}

/* Site nav */

.site-nav .link {
  color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--akcent-color);
}

.site-nav .link.current {
  color: var(--akcent-color);
}

/* Contact */

.contact .link {
  color: var(--primary-text-color);
}

.contact .link:hover,
.contact .link:focus {
  color: var(--akcent-color);
}

/* Hero */

.hero {
  background-color: var(--background-hero-footer-color);
  text-align: center;
}

.hero-title {
  color: var(--main-bg-color);
}

/* Section */

.section-title {
  color: var(--title-text-color);
}

/* Features */

.features .title {
  color: var(--title-text-color);
}

/* Team */

.team .title {
  color: var(--title-text-color);
}

/* Button */
.button {
  color: var(--title-text-color);
  background-color: var(--secondary-bg-color);
}

.button.primary {
  color: var(--main-bg-color);
  background-color: var(--akcent-color);
}

.button.secondary {
  color: var(--title-text-color);
  background-color: var(--secondary-bg-color);
}

/* Footer */

footer {
  background-color: var(--background-hero-footer-color);
}

address {
  color: #ffffff;
}

.logo-footer {
  color: #ffffff;
}

.footer-contact .link {
  color: rgba(255, 255, 255, 0.6);
}

/* Portfolio page */

/* Portfolio nav */

.portfolio-btn .button:hover,
.portfolio-btn .button:focus {
  color: var(--main-bg-color);
  background-color: var(--akcent-color);
}

/* Portfolio */
.portfolio .link {
  color: inherit;
}

.portfolio .title {
  color: var(--title-text-color);
}
